#container {
  width: 90%;
  margin: 5%;
}

.insideCard {
  padding: 1%;
  border: 3px solid black;
  border-radius: 10%;
  box-shadow: 3px 3px 5px;
  margin: 2em 0;
  height: 300px;
  max-height: 300px;
  box-sizing: border-box;
}
.clickedCard {
  padding: 1%;
  border: 8px solid lightblue;
  border-radius: 10%;
  box-shadow: 5px 5px 15px;
  margin: 2em 0;
  height: 300px;
  max-height: 300px;
  box-sizing: border-box;
}
